
:root
{
    --dark-text: #2f4e96;
}
h2{
    background-color:var(--dark-text);
    display: flex;
    justify-content: space-between;
}

.edit-btn
{
    border:1px solid red;
    padding: 5px;
    background-color:#74b9ff;
    cursor: pointer;
}
.edit-btn:hover
{
   background-color: transparent;
}
