
:root
{
    --dark-text: #2f4e96;
}
h2{
    background-color:var(--dark-text);
    display: flex;
    justify-content: space-between;
}

.edit-btn
{
  
    padding: 5px;
    background-color:#7fbcf9;
    cursor: pointer;
}

