:root {
    --primary-color: #6c5ce7;
    --secondary-color: #74b9ff;
    --accent-color: #ff7675;
    --light-bg: #dfe6e9;
    --dark-text: #2d3436;
    --white: #ffffff;
   --danger:red;
   --primary-dark:#1e3c72;
}

h2 {
    background-color: var(--accent-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    color: var(--white);
}

h1 {
    font-size: 30px;
    text-align: center;
    color: var(--dark-text);
}

.ls {
    width: 100%;
    height: 88vh;
    border: 5px solid var(--primary-color);
    background-color: var(--light-bg);
}

.rs {
    width: 100%;
    height: 88vh;
    border: 5px solid var(--secondary-color);
    background-color: var(--light-bg);
}

.bs {
    display: block;
}

.mainspan {
    font-size: 30px;
    color: var(--dark-text);
    display: flex;
    justify-content: space-between;
}

.spanbtn {
    border: 1px solid var(--accent-color);
    padding: 3px;
    background-color: var(--secondary-color);
    cursor: pointer;
    color: var(--white);
}
.headerClass
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.notificationBadge {
    position: absolute;
    top: -8px;
    right: -20px;
    background: var(--danger);
    color:var(--white);
    font-size: 20px;
    font-weight: bold;
    padding: 0px 7px;
    border-radius: 50%;
  }
  .icon-container {
    position: relative;
    display: inline-block;
  }

  .table {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--dark-text);
    color: var(--white);
}

 th, 
 td {
    border: 1px solid var(--white);
    padding: 10px;
    text-align: left;
}

 th {
    background-color: var(--primary-dark); 
}

td {
    background-color: var(--dark-text);
}

.custom-table .action-btn {
    border: 1px solid var(--danger);
    padding: 5px;
    background-color:var(--secondary-color);
    cursor: pointer;
    color: black;
}

.custom-table .action-btn:hover {
    background-color: transparent;
    color: var(--white);
}
