:root {
    --primary-color: #6c5ce7;
    --secondary-color: #74b9ff;
    --accent-color: #ff7675;
    --light-bg: #dfe6e9;
    --dark-text: #2d3436;
    --white: #ffffff;
    --danger:red;
}

.logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-size: 22px;
    margin-left: 50px;
   color: var(--dark-text);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    overflow: hidden; 
    font-family:Cambria;
}

.maincontainers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.inputcontainer h4 
{
   padding-bottom: 20px;
}

.form-container {
    min-height: 450px; 
}

 button {
    font-size: 18px;
    height: 45px;
    width: 100%;
    border: 2px solid var(--dark-text);
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
    background: var(--white);
    transition: all 0.3s ease;
}
input {
    font-size: 18px;
    height: 40px; 
    display: block;
    justify-content:left ;
    
}

 .labels
{
    font-weight: bold;
    font-size: large;
}
.customerform
{
  padding-top: 0px;  
  max-width: 300px;
  min-height: 210px; 
}
.customerform h4{
    margin-bottom: 20px;
    margin-top: 30px;
}

.customerform input {
    width: 90% !important; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1px;
  
}

.customerform div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.customerform label {
    text-align: left;
    width: 90%;
    font-weight: bold;
    display: block;
    font-size: large;
    margin-top: 10px;
}

.customerform button {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



.error-message {
    font-size: 15px;
    color:var(--danger);
    text-decoration: none;
    margin: 5px;
    min-height: 20px; 
    display: block;
    visibility: hidden;
}


.error-message.show {
    visibility: visible;
}

button {
    
    color: var(--dark-text);
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 45px; 
}

button:disabled {
    color: var(--dark-text) ;
    cursor: not-allowed;
    opacity: 0.6;
}

.toggle-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: large;
    text-decoration: underline;
    color: var( --dark-text);
    cursor: pointer;
}



