

button {
  
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.github {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
}

.edit {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 10px 15px;
}
 

p {
  font-size: 1rem;
  color: #555;
}

