.counterbutton
{
  padding: 10px;
  border: 2px solid red;
  display: inline;
  cursor: pointer;
}
.arritems li
{
  color: blue;
  text-decoration: underline;
}
.tododiv
{
  padding: 10px;
  border: 2px solid red;
}