* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app-layout {
  display: flex;
  width: 100vw;
  height: 90vh;
}

.left-container {
  width:20vw;
  background-color: #f4f4f4; 
  padding: 20px;
  border-right: 2px solid #ccc;
  display: flex;
  flex-direction: column;
}

.header, .btn, .footer {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff; 
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: grab;
  transition: all 0.3s ease;
}


.main-container {
  background-color: #ffffff;
  padding: 20px;
  border-left: 2px solid #ccc;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: auto;
  width: 80vw; 
}

.main-container.over {
  background-color: #eaeaea; 
}

.dropped-items {
  margin-top: 20px;
  display: block;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.header-drop-zone {
  border:2px solid red;
  flex: 1 1 10%;
  padding: 10px;
  width: 100%;
  overflow: visible;
}

.button-drop-zone {
  border:2px solid rgb(21, 255, 0);
  flex: 3 1 60%;
  padding: 10px;
  width: 100%;
  overflow: visible;
  display: flex;
}

.footer-drop-zone {
  border:2px solid rgb(0, 47, 255);
  flex: 1 1 10%;
  padding: 10px;
  width: 100%;
  overflow: visible;
}