.buttons {
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.github {
  background-color: #007bff;
  color: white;
}

.edit {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
}
 

p {
  font-size: 1rem;
  color: #555;
}

